@{
    ViewData["Title"] = "О Нас";
}
<h1>@ViewData["Title"]</h1>

<p>Крупнейший интернет магазин Faha Shop. Купите продукты не вставая с дивана, доставка совершенно бесплатно!</p>
<p>Оставайтесь дома в самоизоляции, и совершайте покупки через Faha Shop!</p>
