@{
    ViewData["Title"] = "Спасибо";
}

<div class="text-center">
    <h1 class="display-4">Спасибо за покупку в Faha Shop!</h1>
    <p>Ваш продукт будет доставлен вам нашим курьером!</p>
    <p>Берегите себя и останьтесь дома, подробнее о защите от коронавируса <a href="https://xn--80aesfpebagmfblc0a.xn--p1ai/">можете узнать здесь</a>.</p>
</div>